@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;700&display=swap");

:root {
  --primary-blue: #333a56;
  --primary-red: #ee1b22;
  --primary-grey: #57606b;
  --secondary-blue: #262b40;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  transition: all 0.5s;
}
.wrapper {
  display: flex;
  width: 100vw;
}

.sidebar {
  width: 235px;
  height: 100vh;
  background-color: var(--primary-blue);
  color: white;
  background-image: url("./assets/sidebar-background.png");
  background-repeat: no-repeat;
  background-position: 50% 120%;
  background-size: 350px;
  transition: width 0.5s;
}
.navbar {
  margin: 0;
  font-size: 0.75rem;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}
.logo img {
  width: 220px;
  padding: 0.25rem;
}
.nav-item {
  padding: 6px 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.nav-item:hover {
  color: var(--primary-grey);
}
.nav-item.active {
  background-color: var(--secondary-blue);
}
.nav-item:hover ::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #ee1b22;
  right: 0;
  height: 100%;
  top: 0;
  left: 0;
}
.nav-item.active ::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #ee1b22;
  right: 0;
  height: 100%;
  top: 0;
  left: 0;
}

.material-icons-outlined {
  font-size: 1.25rem !important;
  font-weight: 300 !important;
  margin-right: 0.75rem;
}
.main-app {
  background-color: #efefef;
  flex: 1;
}

.menu {
  height: 69.78px;
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
.user {
  display: flex;
  align-items: center;
  justify-content: start;
}
.hamburger {
  flex: 1;
  display: flex;
  font-size: 3rem;
}
.hamburger span {
  user-select: none;
  cursor: pointer;
}
.logout {
  color: #57606b;
  margin-right: 2rem;
}
.logout span {
  user-select: none;
  cursor: pointer;
}

.user span {
  width: 2rem;
  user-select: none;
  font-size: 2rem !important;
}
.user-details p:nth-child(2) {
  font-weight: 400;
}

.sidebar.isClosed {
  width: 50px;
}
.sidebar.isClosed .nav-item {
  padding: 0.75rem 0;
  padding-left: 1rem;
}
.sidebar.isClosed .nav-item:hover {
  background-color: #fff;
}
.sidebar.isClosed .nav-item-text {
  display: none;
}
.sidebar.isClosed {
  background-position: 20% 110%;
}
